<h1>List of Students with S grade</h1>

<% for(var i=0;i<data.length;i++) {%>
  <br />
  <%= "USN: " + data[i].usn %><br />
  <%= "Name: " + data[i].name %><br />
  <%= "Branch: " + data[i].branch %><br />
  <%= "Grade: " + data[i].grade %><br /><br /><br />
  <%}%>
</data.length;i++)>
